body

.conteudo{
   

    color: #fff;
    text-align: center;
    background-image: url(../img/img_03.jpg);
    background-size: cover;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.color{

    background-color: #05EB1C;
}

figure img{

    width: 100%;
}



@media(min-width:768px) {
    .conteudo {
        padding: 6rem 5% 0;
        background-image: url(../img/img_03.jpg);
      }
    }